@model IEnumerable<darbuotoju_valdymos_sistema.Models.Workers>
@{
    ViewData["Title"] = "Workers";
}

<div class="text-center">
    <h1 class="display-4">Workers</h1>
    <p>Worker information and Tasks assigned to them can be found here.</p>


<table class="table" id="showtable">
  <tr>
    <th>                   
        <a asp-action="Workers" asp-route-sortOrder="@ViewData["IdSortParam"]">Worker identifier</a>
    </th>
    <th>
        <a asp-action="Workers" asp-route-sortOrder="@ViewData["NameSortParam"]">Worker name</a>
    </th>
    <th>
        Assigned Tasks
    </th>
    <th>
        Actions
    </th>

  </tr>
  @foreach (var item in Model)
  {
    <tr>
      <td>
        @item.id
      </td>
      <td>
        @item.name
      </td>
      <td>
      @foreach(var task in item.tasks){
          <button id="viewbtn">@task.name</button> 
      }
      </td>
      <td>
          <button id="editUser">Edit Worker</button> 
          <button id="deleteUser">Delete Worker</button> 
      </td>
    </tr>
  }
</table>

</div>
<div id="showmodal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        
    </div>
</div>
@section scripts{
    <script>
        $("#showtable").on("click", "#viewbtn", function () {
            var id = $(this).closest("tr").find("td").eq(0).html();
            $.ajax({
                url: "@Url.Action("TaskInfo", "Tasks")",
                data: { id: id },
                success: function (data) {
                    $("#showmodal .modal-dialog").html(data);
                    $("#showmodal").modal("show");
                }
            });
        });
        $("#showtable").on("click", "#editUser", function () {
            var id = $(this).closest("tr").find("td").eq(0).html();
            $.ajax({
                url: "@Url.Action("WorkerInfo", "Workers")",
                data: { id: id },
                success: function (data) {
                    $("#showmodal .modal-dialog").html(data);
                    $("#showmodal").modal("show");
                }
            });
        });
        $("#showtable").on("click", "#deleteUser", function () {
            var id = $(this).closest("tr").find("td").eq(0).html();
            $.ajax({
                url: "@Url.Action("deleteUser", "Workers")",
                data: { id: id },
                success: function (data) {
                    $("#showmodal .modal-dialog").html(data);
                    $("#showmodal").modal("show");
                }
            });
        });
            
        $("#showmodal").on("click", "#closebttn", function () {
           $("#showmodal").modal("hide");

        });

       $("#showmodal").on("click", "#addTask", function () {
           var id = document.getElementById("personalUserId").getAttribute("data-id");
           var taskid = document.getElementById("addTask").getAttribute("data-taskid");
            $.ajax({
                url: "@Url.Action("AddTask", "Tasks")",
                data: { userid: id, taskid: taskid},
                success: function (data) {
                    $("#showmodal .modal-dialog").html(data);
                    $("#showmodal").modal("show");
                }
            });

        });

    </script>
}