@model IEnumerable<darbuotoju_valdymos_sistema.Models.Task>
@{
    ViewData["Title"] = "Workers";
}

<div class="text-center">
    <h1 class="display-4">Workers</h1>
    <p>Worker info can be found here.</p>
    <h2>Films</h2>
<table class="table">
  <tr>
    <th>                   
        <a asp-action="Workers" asp-route-sortOrder="@ViewData["IdSortParam"]">@Html.DisplayNameFor(model => model.id)</a>
    </th>
    <th>
        <a asp-action="Workers" asp-route-sortOrder="@ViewData["NameSortParam"]">@Html.DisplayNameFor(model => model.name)</a>
    </th>

  </tr>
  @foreach (var item in Model)
  {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.id)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.name)
      </td>
      <td>
      @foreach(var worker in item.workers){
         @Html.DisplayFor(modelItem => worker.name)             
      }
      </td>
      <td>
    </tr>
  }
</table>
</div>
