@model IEnumerable<darbuotoju_valdymos_sistema.Models.Workers>
<table class="table table-striped table-dark">

<tr>
    <th class="align-middle">                   
        <button id="sortByID" class="btn btn-primary" onclick="searchFunction('@ViewData["IdSortParam"]')">Worker identifier</button> 
    </th>
    <th class="align-middle">
        <button id="sortByName" class="btn btn-primary" onclick="searchFunction('@ViewData["NameSortParam"]')">Name</button> 
    </th>
    <th class="align-middle">
        <button id="sortByLastname" class="btn btn-primary" onclick="searchFunction('@ViewData["LastnameSortParam"]')">Lastname</button> 
    </th>
    <th class="align-middle">
        Assigned Tasks
    </th>
    <th class="align-middle">
        Actions
    </th>

  </tr>
  @foreach (var item in Model)
  {
    <tr>
      <td>
        @item.id
      </td>
      <td>
        @item.name
      </td>
      <td>
        @item.lastName
      </td>

      <td>
      @foreach(var task in item.tasks){
          <button id="taskView" class="@(task.status?"btn btn-success":"btn btn-primary")" onclick="ViewTask(@task.id)">@task.name</button> 
      }
      </td>
      <td>
          <button id="editUser" class="btn btn-primary">Edit Worker</button> 
          <button id="deleteUser" class="btn btn-danger" onclick="DeleteWorker(@item.id)">Delete Worker</button> 
      </td>
    </tr>
  }
  </table>