@model darbuotoju_valdymos_sistema.Models.Workers

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<tr>
    <th>                   
        Identifier
    </th>
    <th>
        Mame
    </th>
    <th>
        Surname
    </th>
    <th>
        Assigned Tasks
    </th>

</tr>
<tr>
    <td id="personalUserId" data-id=@Model.id>   
        @Model.id
    </td>
    <td>   
        @Model.name
    </td>
    <td>   
        @Model.lastName
    </td>
    <td>
        @foreach(var item in Model.tasks)
        {
            <button id="removeTask" onclick="removeTask(@item.id)">@item.name</button>         
        }
    </td>
</tr>